#body_background{
	background-image: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_678177130_408956.jpg");
}
body
{
	background:black;
	text-align:center;
	font-weight: bolder;
	
}

	.login_div1 , .login_div2
	{
		background: black;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background:white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#one
{
	font-family: 'Hachi Maru Pop', cursive;
}

#two{
	font-family: 'Hachi Maru Pop', cursive;
}
body{
	font-family: 'Raleway', sans-serif;
}
